.homeAboutItem {
  width: 26%;
  display: flex;
  flex-direction: column;
}

.homeAboutItem div {
  display: flex;
  justify-content: center;
}

.homeAboutItem h3 {
  margin: 15px;
}

.homeAboutItem p {
  padding-bottom: 25px;
}
