.header {
  border-bottom: 2px solid #000;
  width: 100%;
  height: auto;
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 10%;
}

.header__search {
  width: 220px;
  text-align: right;
}
